endpoints:
  - name: Home
    group: Services
    url: https://${DOMAIN_NAME}
    interval: 5m
    conditions:
      - "[STATUS] == 200"
      - "[RESPONSE_TIME] < 500"
      - "[CERTIFICATE_EXPIRATION] > 7d"
${GATUS_CONFIG}
