# Private user information
.env.user
.vscode/sftp.json
.borg-key.borgbase
.borg-key.local

# Script output
*.log

# Temporary files
__pycache__/

# Container data
backups/
backups_old/
cache/
data/
data_old/
logs/

# Templated files
services/borgmatic/daemon/config.yaml
services/gatus/config/config.yaml
services/homepage/config/services.yaml
services/nginx/nginx.conf
