/*
Top bar widgets.

Add a blur effect for better contrast against the background image.

The padding is to add some space between the widgets and the edge of their container.
*/

#information-widgets {
    border-radius: 15px;
    backdrop-filter: blur(12px);
}

#widgets-wrap {
    padding-left: 10px;
    padding-right: 10px;
}
